# --- CORE DE LA API ---
fastapi
uvicorn
python-multipart
websockets


# --- CLIENTE HTTP (para Ollama) ---
httpx

# --- TRATAMIENTO DE AUDIO EN BACKEND ---
gTTS
pydub
SpeechRecognition

# --- UTILIDADES (Mantén solo si los usas en tu lógica interna) ---
faker
pandas
